.mf_cards_side_img img {
  object-fit: cover;
  border-radius: 24px;
  overflow: hidden;
}

.mf_cards_side_img_icon_card h3 {
  font-family: "Lato-Bold";
  font-size: var(--font-size-base);
  color: var(--text_color);
}

.mf_cards_side_img_icon_card p {
  font-family: "Lato-Light";
  font-size: var(--font-size-base);
  color: var(--text_color);
}

.mf_cards_side_img_icon_card img {
  z-index: 2;
}

.mf_cards_side_img_icon_bg_element {
  background-color: var(--primary_color_light);
  padding: 15px;
  width: 15px;
  height: 15px;
  border-radius: 40px;
  margin-top: -30px;
  margin-left: 20px;
}
